@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}


#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  margin-top: 1%;
  height: 80px;
  background-color:white;
}


.content-background {
  background-color:white;
}

.ant-spin-spinning {
  margin-left: 44%;
  margin-top: 13%;
}

.ant-modal-title {
  text-align: center;
}

.ant-modal-body {
  text-align: center;
}